{% if app.user is not null and app.user == event.user and is_granted('ROLE_USER') %}

    <div id='event_alerts' rel='{{ path('front_event_alerts', { id: event.id } ) }}'>

        {% if not event.getAddress() %}
            <div class="alert alert-info fade in">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <strong>{% trans %}front.alert.info{% endtrans %}</strong>
                {% trans %}event.alert.missing_address{% endtrans %}
            </div>
        {% endif %}
        {% if not event.hasOneValidAddress %}
            <div class="alert alert-warning fade in">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <strong>{% trans %}front.alert.warning{% endtrans %}</strong>
                {% trans %}event.alert.invalid_address{% endtrans %}
            </div>
        {% endif %}


        {% if not event.getEventDates()|length %}
            <div class="alert alert-info fade in">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <strong>{% trans %}front.alert.info{% endtrans %}</strong>
                {% trans %}event.alert.missing_date{% endtrans %}
            </div>
        {% elseif not event.getNextEventDate()  %}
            <div class="alert alert-warning fade in">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <strong>{% trans %}front.alert.warning{% endtrans %}</strong>
                {% trans %}event.alert.no_next_date{% endtrans %}</a>
            </div>
        {% endif %}

        {% if not event.getProfilePicture() %}
            <div class="alert alert-info fade in">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <strong>{% trans %}front.alert.info{% endtrans %}</strong>
                {% trans %}event.alert.missing_profile_picture{% endtrans %}
            </div>
        {% endif %}

        {% if  event.isShownInSearchResults()  %}
            <div class="alert alert-success fade in">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <strong>{% trans %}front.alert.success{% endtrans %}</strong>
                {% trans %}event.alert.valid{% endtrans %} 
            </div>
        {% endif %}

    </div>

{% endif %}