{% if app.user is not null and app.user == event.user and is_granted('ROLE_USER') %}

    <div id='event_alerts' rel='{{ path('front_event_alerts', { id: event.id } ) }}'>

        {% set nothing_displayed_yet = true %}

        {% if not event.getAddress() %}
            <script type="text/javascript">
                toastr.warning("{% trans %}toastr.load.address.event_no_addresses{% endtrans %}");
            </script>
            {% set nothing_displayed_yet = false %}
        {% endif %}
        {% if nothing_displayed_yet and event.getAddress() and not event.hasOneValidAddress %}
            <script type="text/javascript">
                toastr.warning("{% trans %}event.alert.invalid_address{% endtrans %}");
            </script>
            {% set nothing_displayed_yet = false %}
        {% endif %}


        {% if nothing_displayed_yet and not event.getEventDates()|length %}
            <script type="text/javascript">
                toastr.warning("{% trans %}event.alert.missing_date{% endtrans %}");
            </script>
            {% set nothing_displayed_yet = false %}
        {% elseif nothing_displayed_yet and not event.getNextEventDate()  %}
            <script type="text/javascript">
                toastr.info("{% trans %}event.alert.no_next_date{% endtrans %}");
            </script>
            {% set nothing_displayed_yet = false %}
        {% endif %}

        {% if nothing_displayed_yet and not event.getProfilePicture() %}
            <script type="text/javascript">
                toastr.info("{% trans %}toastr.load.photo.event_no_photos{% endtrans %}");
            </script>
            {% set nothing_displayed_yet = false %}
        {% endif %}

        {% if  nothing_displayed_yet and event.isShownInSearchResults()  %}
            <script type="text/javascript">
                toastr.success("{% trans %}event.alert.valid{% endtrans %}");
            </script>
            {% set nothing_displayed_yet = false %}
        {% endif %}

    </div>

{% endif %}