{% extends 'FrontFrontBundle:City:cityLayout.html.twig' %}

{% block content %}

    {% include 'FrontFrontBundle:City:cityBreadcrumb.html.twig' with { active : 'bars' } %}

    <!--=== Profile ===-->
    <div class="container content profile">
        <div class="row">
            <!--Left Sidebar-->
            {% include 'FrontFrontBundle:City:leftSidebar.html.twig' with { active : 'bars' } %}
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-9">

                <div class="profile-body">

                    {% include 'FrontFrontBundle:User:list.html.twig' with { active : 'bars' } %}

                </div>
            </div>
            <!-- End Profile Content -->            
        </div>
    </div><!--/container-->    
{% endblock %}