<ul class="sorting-nav sorting-nav-v1 text-center">
    <li class="filter" data-filter="all">All</li>
    <li class="filter" data-filter="category_1">Salsa</li>
    <li class="filter" data-filter="category_2">Bachata</li>
    <li class="filter" data-filter="category_3">Kizomba</li>
    <li><- filtres (voir home portfolio) -></li>
</ul>