{% extends 'FrontFrontBundle:City:cityLayout.html.twig' %}

{% block content %}

    {% include 'FrontFrontBundle:City:cityBreadcrumb.html.twig' with { active : 'parties' } %}

    <!--=== Profile ===-->
    <div class="container content profile">
        <div class="row">
            <!--Left Sidebar-->
            {% include 'FrontFrontBundle:City:leftSidebar.html.twig' with { active : 'parties' } %}
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-9">

                <!-- Basic Map -->
                <div class="home-map">
                    {% include 'FrontFrontBundle:Home:map.html.twig' %}
                </div>
                <!-- End Basic Map -->

                <div class="profile-body">

                    <!-- Portfolio Sorting Blocks -->
                    <div class="sorting-block">
                        {% include 'FrontFrontBundle:City:cityFilters.html.twig' %}

                        <!-- Easy Blocks v1 -->                
                        <div class="row high-rated margin-bottom-20">
                            {% include 'FrontFrontBundle:Event:list.html.twig' %}
                        </div>
                        <!-- End Easy Blocks v1 --> 
                        <div class="clearfix"></div>
                    </div>
                    <!-- End Portfolio Sorting Blocks -->   

                </div>
            </div>
            <!-- End Profile Content -->            
        </div>
    </div><!--/container-->    
{% endblock %}