{% extends 'FrontFrontBundle:City:cityLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/cubeportfolio.css') }}" />       
{% endblock %}


{% block content %}

    {% include 'FrontFrontBundle:City:cityBreadcrumb.html.twig' with { active : 'photos' } %}

    <div class="container content profile">
        <div class="row">
            <!--Left Sidebar-->
            {% include 'FrontFrontBundle:City:leftSidebar.html.twig' with { city : city, active : 'photos' } %}
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-9">

                <!--=== Cube-Portfdlio ===-->
                <div class="cube-portfolio margin-bottom-20">

                    <div id="grid-container" class="cbp-l-grid-fullWidth">

                        {% for photo in photos %}
                            {% include 'FrontFrontBundle:Photo:photo.html.twig'  %}
                        {% endfor %}

                        {% if 8 > photos|length %}
                            {% include 'FrontFrontBundle:Photo:add.html.twig' %}
                        {% endif %}

                    </div>
                </div>

            </div>
            <!-- End Profile Content -->            
        </div>
    </div><!--/container-->    
    <!--=== End Profile ===-->

{% endblock %}

{% block bottomJavascripts %}
    {{ parent() }}    
    <script type="text/javascript" src="{{ asset("front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js") }}"></script>
{% endblock %}   
