<ul>
    {% for user in users %}
        <li>
            <a href='{{ path('front_user_show_public', { 'username' : user.username, 'id' : user.id}) }}'>
                <p>{% if user.profilePicture %}
                    <img src='{{ asset(user.profilePicture.thumbnailsPathUri) }}' class="img-circle"  />
                {% endif %}
                {{ user.username|capitalize }}</p>
            </a>
        </li>
    {% endfor %}
</ul>   