<h3>Search by Tag</h3>
<ul class="list-unstyled">
    {% for tag in tags %}
        <li>
            <a href="#" class="search-video-tag-link">
                {{ tag.getTitle() }}
            </a>
        </li>     
    {% endfor %}   
</ul>
<hr>