<h3>{% trans %}tag.search_by_tag{% endtrans %}</h3>
<ul class="list-unstyled">
    {% for tag in tags %}
        <li>
            <a href="#" class="search-music-tag-link">
                {{ tag.getTitle() }}
            </a>
        </li>     
    {% endfor %}   
</ul>
<hr>