{% extends 'AdminAdminBundle::layout.html.twig' %} {% trans_default_domain 'AdminBundle' %}

{% block content -%}

    <div class="row">
        <div class="col-md-11 pull-left">
            <h1 class="page-header">{% trans %}admin.eventfile_new{% endtrans %}</h1>
        </div>
        <div class="col-md-1 pull-right">
            <a href="{{ path('admin_event_file') }}" class="btn btn-warning btn-sm pull-right">
                <i class="glyphicon glyphicon-arrow-left"></i>
                <span> {% trans %}admin.back_to_list{% endtrans %}</span>
            </a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">    
            <div class="panel panel-info">
                <div class="panel-body">

                    {% form_theme form with ['AdminAdminBundle:Form:bootstrap_form_override.html.twig'] %}
                    {{ form(form) }}

                </div>
            </div>
        </div>   
    </div>   

{% endblock %}

