<div id="move_{{ move.id }}">
    {% set video = move.getVideo() %}
    <div class="col-md-6 md-margin-bottom-20">
        {% include 'FrontFrontBundle:Video:player.html.twig' with { video : video } %}
        
        <div class="margin-bottom-40">
            <h3>{{ move.getTitle() }}</h3>
            <p>{% trans %}tags.label{% endtrans %} :
                {% for tag in move.getTags() %}
                    {{ tag.getTitle() }}              
                {% endfor %}
            </p>
        </div>
    </div>
</div>