<ul class="sorting-nav sorting-nav-v1 text-center hidden-sm hidden-xs">
    <li class="filter" data-filter="all">
        {% trans %}filters.all{% endtrans %}
    </li>
    {% for musicType in musicTypes %}
        <li class="filter" data-filter="{{ musicType|lower }}">
            {{ musicType|capitalize }}
        </li>
    {% endfor %}
</ul>