<h3>{% trans %}user.search_by_musictype{% endtrans %}</h3>
<ul class="list-unstyled">
    {% for musicType in musicTypes %}
        <li>
            <a href="{{ path('front_user_filter', {'user_filter[musictype]':  musicType.getName() , 'user_filter[_token]' :  csrf_token('user_filter')  } ) }}"
               class="search-user-musictype-link">
                {{ musicType.getTitle() }}
            </a>
        </li>     
    {% endfor %}   
</ul>
<hr>