parameters:
    database_driver:   pdo_mysql
    database_host:     wedancesdc_mutu.mysql.db
    database_port:     ~
    database_name:     wedancesdc_mutu
    database_user:     wedancesdc_mutu
    database_password: kstke7S3yFC9

    mailer_transport:  mail
    mailer_host:       ssl0.ovh.net
    mailer_user:       wds-contact@wedancesalsa.com
    mailer_password:   wds9900066
    mailer_auth_mode:  login
    mailer_port:       465
    mailer_encryption: ssl

    locale:            fr   
    secret:            cejetonesttroptroptopsecret

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
