parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     project-salsa
    database_user:     root
    database_password: ~

    database_name_test:     project-salsa-test
    database_user_test:     root
    database_password_test: ~ 

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_auth_mode:  ~
    mailer_password:   ~
    mailer_port:       ~
    mailer_encryption: null
    locale: en
    secret: jetondetravis
    debug_toolbar: fzlse
    debug_redirects: false
    use_assetic_controller: true
    pagination_line_number: 6
    admin_pagination_line_number: 50