
<div class="blog_masonry_3col">
    <div class="container content grid-boxes masonry">

        {% include "FrontFrontBundle:Facebook:previewList.html.twig" %}

    </div>
</div>

{% if not facebook_events or facebook_events|length < 1 %}  
    <div class="alert alert-warning fade in">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <strong>{% trans %}front.alert.warning{% endtrans %}</strong>
        {% trans %}facebook.event_import_fail{% endtrans %}
    </div>  
{% endif %}

<script type="text/javascript">
    {% if not facebook_events or facebook_events|length < 1 %}
        toastr.warning("{% trans %}toastr.load.import_facebook.no_organized_events{% endtrans %}");
    {% else %}
        toastr.success("{% trans %}toastr.load.preview_import_facebook.success{% endtrans %}");
        toastr.success("{% trans with {'%COUNT%': facebook_events|length } %}toastr.load.preview_import_facebook.success_count{% endtrans %}");
    {% endif %}

</script>