<form id="search_event_form" action="{{ path('search_search_front_event') }}" method="GET" class="form-inline no_validation" role="search">

    {% set placeholder_city = app.session.get('city')|capitalize %}
    {% if not placeholder_city %}
        {% set placeholder_city = 'Lille, France'%}
    {% endif  %}
    <div class="form-group">
        <div class="input-group">
            <label class="sr-only" for="searchcity">City</label>
            <div class="input-group-addon"><i class="icon-target-1"></i></div>
            <input type="text" autocomplete="off" class="form-control" id="search_search_bundle_cityfrontsearch_searchcity" 
                   placeholder="{{ placeholder_city }}"
                   name="searchcity">
        </div>
    </div>

    {% set placeholder_date = app.session.get('startdate')|capitalize %}
    {% if not placeholder_date %}
        {% set placeholder_date = "now"|date("d m Y") %}
    {% endif  %}
    <div class="form-group">
        <div class="input-group">
            <label class="sr-only" for="searcheventdate">Date</label>
            <div class="input-group-addon"><i class="icon-calendar"></i></div>
            <input type="text" autocomplete="off" class="form-control  datepicker" id="search_search_bundle_eventdatefrontsearch_searcheventdate" 
                   placeholder="{{ placeholder_date }}"
                   name="searcheventdate">
        </div>
    </div>
    <button type="submit" class="btn btn-search btn-lg pull-right">{% trans %}front.search_event_button{% endtrans %}</button>
</form>  