{% set image_default_uri = 'images/wds_750x340_rose.png' %}

<div id="video_">  
    <div class="col-md-6 col-lg-4 md-margin-bottom-20">

        <div class="responsive-video margin-bottom-10">
            <img src="{{ asset(image_default_uri) }}" alt="" class="img-responsive">
        </div>

        <div class="news-v1 margin-bottom-40">
            <h3 class="font-normal">{% trans %}video.list.add.title{% endtrans %}</h3>
            <p>
                {% trans %}video.list.add.title{% endtrans %}             
            </p>            
        </div>
    </div>

</div>