<div id="video_{{ video.id }}">  
    <div class="col-md-6 md-margin-bottom-20">
        {% include 'FrontFrontBundle:Video:player.html.twig' with { video : video } %} 

        <div class="margin-bottom-40">
            <h3>{{ video.getTitle() }}</h3>
            <p>{% trans %}tags.label{% endtrans %} :
                {% for tag in video.getTags() %}
                    {{ tag.getTitle() }}              
                {% endfor %}
            </p>                    
        </div>
    </div>

</div>