<div id="video_{{ video.id }}">  
    <div class="col-md-6 md-margin-bottom-20">
        {% if video.isYoutube %}
            {% include 'FrontFrontBundle:Video:youtube.html.twig' with { video : video } %}
        {% endif %}
        {% if video.isVimeo %}
            {% include 'FrontFrontBundle:Video:vimeo.html.twig' with { video : video } %}
        {% endif %}
        {% if video.isDailymotion %}
            {% include 'FrontFrontBundle:Video:dailymotion.html.twig' with { video : video } %}
        {% endif %}   
    </div>
</div>