<div class="breadcrumbs breadcrumbs-dark">
    <div class="container">
        <h1 class="pull-left">{{ page.getTitle|capitalize }}</h1>
        <ul class="pull-right breadcrumb">
            <li>
                <a href="{{ path('home') }}">{% trans %}link.home{% endtrans %}</a>
            </li>
            <li class="active">{{ page.getTitle|capitalize }}</li>
        </ul>
    </div>
</div>