<div class="col-md-6">
    <div class="responsive-video">
        <iframe src="https://player.vimeo.com/video/{{ video.getVimeoURI }}" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>