<div class="col-md-6">
    <div class="responsive-video">
        <iframe width="100%" src="//www.youtube.com/embed/{{ video.getYoutubeURI }}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>