{% set image_default_uri = 'images/wds_750x340_add.png' %}

<div id="music_">

    {% set url = path('fos_user_security_login') %}
    {% if app.user %}
        {% set url = path('front_user_edit', { id : app.user.id } ) %}
    {% endif %}

    <a href='{{ url }}'>
        <div class="col-md-6 col-lg-4 md-margin-bottom-20">
            <div class="bg-color-light">
                <img src="{{ asset(image_default_uri) }}" alt="" class="img-responsive">
            </div>
            <div class="news-v1 margin-bottom-40 bg-color-white">

                <h3 class="font-normal">{% trans %}music.list.add.title{% endtrans %}</h3>
                <p>
                    {% trans %}music.list.add.desc{% endtrans %}
                </p>       
            </div>
        </div>
    </a>

</div>