<div class="col-md-6 md-margin-bottom-20">
    <iframe src="https://embed.spotify.com/?uri={{ music.getSpotifyURI }}"
            frameborder="0" allowtransparency="true" width="100%" >
    </iframe>
</div>