<a href='{{ path }}'>
    <div class="service-block service-block-light-green">            
        <i class="icon-2x color-light fa fa-plus"></i>
        {% if title is defined and title%}
            <h2 class="heading-md">{{ title }}</h2>
        {% endif %}
        {% if paragraphe is defined and paragraphe %}
            <p>{{ paragraphe }}</p>
        {% endif %}
    </div>
</a>