{% set image_default_uri = 'images/wds_300x150_add_inversed.png' %}

<div class="grid-boxes-in">

    <a  href="{{ path('landing_pro') }}">
        <img src="{{ asset(image_default_uri) }}" alt="" class="" >
    </a>

    <div class="grid-boxes-caption">
        <h3>
            <a class="color-red"  href="{{ path('landing_pro') }}">
                {% trans %}user.list.add.h3{% endtrans %}
            </a>
        </h3>
        <p>
            {% trans %}user.list.add.span{% endtrans %}
        </p>
    </div>
</div>