{% set h3 = 'user.posted_by'|trans %}

{% if event.getOrganizedBy() %}
    {% set user = event.getOrganizedBy %}  
    {% set h3 = 'user.organized_by'|trans %}
{% elseif event.getPublishedBy() %}
    {% set user = event.getPublishedBy %}
{% else %}
    {% set user = event.getUser %}
{% endif %}

<h3>{{ h3 }}</h3>  

{% include 'FrontFrontBundle:User:memberPhoto.html.twig' with { user : user } %}

<div class="overflow-h">
    <span class="font-s">{{ user.username|capitalize }}</span>
    <p class="color-green">
        {% if user.getUserType %}
            {{ user.getUserTypesText }}
        {% endif %}
        {% if user.getMusicType %}
            / <span class="hex">{{ user.getMusicTypesText }}</span>
        {% endif %}
    </p>
    {% include 'FrontFrontBundle:User:userSocialIcons.html.twig'  %}
</div>    

<hr>

{% render path('front_user_show_overviews', { id : user.id } ) %}