{% set user = event.getUser %}
<h3>{% trans %}user.posted_by{% endtrans %}</h3>  

{% include 'FrontFrontBundle:User:memberPhoto.html.twig' with { user : user } %}

<div class="overflow-h">
    <span class="font-s">{{ user.username|capitalize }}</span>
    <p class="color-green">
        {% if user.getUserType %}
            {{ user.getUserTypesText }}
        {% endif %}
        {% if user.getMusicType %}
            / <span class="hex">{{ user.getMusicTypesText }}</span>
        {% endif %}
    </p>
    {% include 'FrontFrontBundle:User:userSocialIcons.html.twig'  %}
</div>    

<hr>

{% render path('front_user_show_overviews', { id : user.id } ) %}