<div class="table-search-v2">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tbody>
                {% for person in people %}
                    {% include 'FrontFrontBundle:User:showListTr.html.twig' %}
                {% endfor %}

                {% if 4 > people|length %}
                    {% include 'FrontFrontBundle:User:add.html.twig' %}
                {% endif %}
            </tbody>
        </table>
    </div>    
</div>