 <div class="blog_masonry_3col">
        <div class="grid-boxes">

                {% for person in people %}
                    {% include 'FrontFrontBundle:User:showListDiv.html.twig' %}
                {% endfor %}

                {% if 4 > people|length %}
                    {% include 'FrontFrontBundle:User:add.html.twig' %}
                {% endif %}
                
{#       manque alerte, toastr, pagination, voir user:index.html.twig#}

    </div>    
</div>