{% if person.musicTypes is defined and person.musicTypes|length %}
    <p>
        {% for musicType in person.musicTypes %}
            <span class="label label-{{ musicType.name|lower }} ">{{ musicType|capitalize }}</span>
        {% endfor %}
    </p>
{% endif %}