<div class="panel panel-profile">
    <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-picture-o"></i>{% trans %}user.my_photos{% endtrans %}</h2>
    </div>
    <div class="cube-portfolio margin-bottom-20">



        <div id="grid-container" class="cbp-l-grid-fullWidth">
            {% for photo in user.userFiles %}
                {% include 'FrontFrontBundle:Photo:photo.html.twig'  %}
            {% endfor%}
        </div><!--/end Grid Container-->
    </div>
    <!--=== End Cube-Portfdlio ===-->
    {% if not user.userFiles|length %}
        <div class='panel-body'>
            {% if app.user and app.user == user %}
                {% include 'FrontFrontBundle::addBlock.html.twig' with  { 
                    path : path('front_user_edit', { id : app.user.id } ) , 
                    title : 'add_block.user.photos.add_title'|trans, 
                    paragraphe: 'add_block.user.photos.add_paragraphe'|trans, 
                    color: 'grey' 
                } %}
            {% else %}
                {% include 'FrontFrontBundle::infoBlock.html.twig' with  { 
                    title : 'info_block.user.photos.info_title'|trans, 
                    paragraphe: 'info_block.user.photos.info_paragraphe'|trans 
                } %}
            {% endif%}
        </div>
    {% endif%}
</div>

