<a href="{{ path('front_user_show_public', { username : person.username, id : person.id } ) }}">

    {% if person.isFacebookUser %}
        <img src='{{ person.profilePictureUrl }}' class="rounded-x"/> 
    {% elseif person.profilePictureUrl %}
        <img src='{{ asset(person.profilePictureUrl)| imagine_filter('member_photo') }}' class="rounded-x" /> 
    {% endif %}

</a>