<h3>{% trans %}user.search_by_usertype{% endtrans %}</h3>
<ul class="list-unstyled">
    {% for userType in userTypes %}
        <li>
            <a href="{{ path('front_user_filter', {'user_filter[usertype]':  userType.getName() , 'user_filter[_token]' :  csrf_token('user_filter')  } ) }}"
               class="search-user-usertype-link">
                {{ userType.getTitle() }}
            </a>
        </li>     
    {% endfor %}   
</ul>
<hr>