{% extends 'AdminAdminBundle::layout.html.twig' %}

{% block content -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class='admin-title'>
            <div class='pull-left'>
                <h1>{% trans %}admin.city_list_title{% endtrans %}</h1>
            </div>

            <div class='pull-right'>
                <a class="btn btn-success pull-right" href="{{ path('admin_city_new') }}" >
                    <i class="glyphicon glyphicon-plus"></i>
                    <span> {% trans %}admin.add{% endtrans %}</span>
                </a>   
            </div>
        </div>
    </div>
        
    <div class="panel-body">  
        
        {% for entity in entities %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="{{ path('admin_city_show', { 'id': entity.id }) }}">{{ entity.searchcity }}</a> 
                    <a class='pull-right' href="{{ path('admin_city_edit', { 'id': entity.id }) }}">{% trans %}admin.edit{% endtrans %}</a>
                </div>
                <div class="panel-body">


                </div>
            </div>
        {% endfor %}
        
     </div>   

{% endblock %}    