{% extends 'AdminAdminBundle::layout.html.twig' %}

{% block content -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class='admin-title'>
            <div class='pull-left'>
                <h1>{% trans %}admin.pagecontent_list_title{% endtrans %}</h1>
            </div>

            <div class='pull-right'>
                <a class="btn btn-success pull-right" href="{{ path('admin_pagecontent_new') }}" >
                    <i class="glyphicon glyphicon-plus"></i>
                    <span> {% trans %}admin.add{% endtrans %}</span>
                </a>   
            </div>
        </div>
    </div>
        
    <div class="panel-body">  
        
        {% for entity in entities %}
            
                       {{ render(controller('AdminAdminBundle:PageContent:edit', { id : entity.id } )) }}

        {% endfor %}
        
     </div>   

{% endblock %}    
