{% block submit_widget %} 
    {% spaceless %}
        <button class="btn btn-danger button-margin btn-sm pull-right" type="submit">
            <span> {% trans %}admin.delete{% endtrans %}</span>
        </button>
    {% endspaceless %} 
{% endblock submit_widget %}                    