.div_navbar_search {
    display: inline-block;
    float: left;
    position: relative;
}
#div_search_results {
    left: 15px;
    position: absolute;
    top: 50px;
    background-color: whitesmoke;
    min-width: 210px;
}
#div_search_results img{
    height: 25px;
    width: 25px;
    margin-left: -35px;
}
#div_search_results ul{
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}
#div_search_results ul li{
    margin: 10px 0;
}
#div_search_results ul li p {
    text-indent: 40px
}
.signup-or-separator .text {
    background-color: #fff;
    display: inline-block;
    margin: 0;
    padding: 8px;
}
.signup-or-separator hr {
    margin: -16px auto 10px;
    width: 90%;
}

.signup-or-separator {
    margin-top: 40px;
    margin-bottom: 50px ;
    text-align: center;
}
.login-page{
    margin: 20px;
}
.login-page label{
    margin: 0;
}
.login-page label input{
    margin-right: 20px ;
}
.login-page .panel-padding{
    padding: 20px;
}
.nav-image{
    border: 2px solid;
    margin-right: 5px;
}


#map-canvas-home{
    height: 350px;
}
#map-canvas-event{
    height: 300px !important;
    border-bottom: none !important;
    width: 100%;
}
#map-canvas-user{
    height: 400px;
}

.img-round, .media-round {
    border: 2px solid #fff;
    border-radius: 50%;
}
.media-photo {
    backface-visibility: hidden;
    background-color: #cacccd;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
}
.card-profile-picture-offset {
    margin-bottom: -50px;
    position: relative;
    top: -50px;
}
.card-profile-picture {
    height: 52px;
    width: 52px;
    margin-right: 0px;
    overflow: hidden;
}
.media > .pull-right {
    margin-left: 15px;
    margin-right: 2%;
}
.card-profile-picture img {
    height: 48px;
    width: 52px;
    vertical-align: middle;
}

.panel-list-homepage .media{
    overflow: visible !important;
}
.text-normal, a.text-normal, a.text-normal:hover, a.text-normal:focus {
    color: inherit;
}
.listing-name {
    font-weight: normal;
}
.row-space-top-1 {
    margin-top: 6.25px;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-muted {
    color: #4A2B28;
}
.link-reset {
    color: inherit;
}
.panel-list-homepage .panel-body {
    padding: 5px 15px 15px 15px;
}
.media .h5{
    margin-bottom: 0 !important;
}
.panel-list-homepage{
    min-height: 235px;
    padding: 0 10px 0 0;
    border: none !important;
    background-color: #FDFCFA;
    box-shadow: none;
}
.page-container {
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 115px;*/
    /*    padding-left: 25px;
        padding-right: 25px;
        width: 1045px;*/
}
#details {
    background-color: #FDFCFA;
    border-top: 1px solid #DCE0E0;
    border-bottom: 1px solid #DCE0E0;
}
.navbar-right  img{
    height: 40px !important;
}
.navbar-right li.loggedin{
    padding-top: 38px !important;
}
.navbar-right li.loggedin a{
    padding: 0px 15px 36px 15px !important;
}
.navbar li.dropdown{
    padding-top: 3px;
    padding-bottom: 3px;
}
#front_front_bundle_musictypefrontfilter{
    padding: 10px 10px 10px 15px;
}
#front_front_bundle_musictypefrontfilter label{
    float:left;
    font-size: 16px;
}
#front_front_bundle_musictypefrontfilter_name {
    margin-left: 100px;
}
#front_front_bundle_musictypefrontfilter_name label{
    float: initial;
    padding: 0px;
}
#front_front_bundle_musictypefrontfilter_name input{
    /*margin: 20px 2px 20px 20px;*/
    margin-right: 10px;
    margin-left: 10px;
}
#front_front_bundle_eventtypefrontfilter {
    padding: 10px 10px 10px 15px;
}

#front_front_bundle_eventtypefrontfilter label{
    float:left;
    font-size: 16px;
}

#front_front_bundle_eventtypefrontfilter_name {
    margin-left: 100px;
}
#front_front_bundle_eventtypefrontfilter_name label{
    float: initial;
    padding: 0px;
}
#front_front_bundle_eventtypefrontfilter_name input{
    /*margin: 20px 2px 20px 20px;*/
    margin-right: 10px;
    margin-left: 10px;
}
#event-list{
    background-color: #FDFCFA;
    border-top: 1px solid #8D7666 !important;
    border-left: medium none !important;
    border-right: medium none !important;
    margin: 0 !important;
    padding: 20px 15px;
    border-radius: 0;
    border-bottom: none;
    box-shadow: none;
}
#event-list .panel-body{
    padding: 0 !important;
    border-radius: 0;
}
.alert .btn{
    margin-left: 40px;
}
.alert-success p {
    text-align: justify;

}
.alert-success .icon-effect-2{
    color: #468847;
}
.alert-success .icon-effect-2{
    background: none;
}
.alert-success .icon-effect-2:hover{
    color: #ffffff;
}
.alert-success .icon-effect-2:after {
    background-color: #468847;
}
.alert-success .icon-effect-2 {
    box-shadow: 0 0 0 3px #468847;
}
.filter-section{
    box-shadow: none;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #F9F8F4;
    border-radius: 0;
}
.filter-section:last-of-type{
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #8D7666;
    border-top: none;
}
.home-list{
    background-color: #FDFCFA;
    padding: 0px;
    border-radius: 0;
    min-height: 945px;
}
.home-map{
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0;
}
#home_more{
    padding-top:60px; 
    padding-bottom:60px; 
    border-top:1px solid #eee; 
    border-bottom:1px solid #eee; 
    background-color: #F9F8F4;
}
#event-list .panel-body{
    border: none !important;
    background-color: #FDFCFA;
    border-radius: 0;
}
.recent-projects{
    margin-bottom: 20px;
}
footer a{
    color: #FF931E;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 8px;
    position: relative;
    /*    text-transform: uppercase;*/
}
.footer-widget{
    text-align: center;
}
.dropdown-toggle{
    color: #E8DDD1;
}
#front_frontbundle_event_addresses{
    display: none;
}
#front_frontbundle_event_eventDates{
    display: none;
}
.fileinput-button {
    overflow: hidden;
    position: relative;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.panel-list-homepage-image-container{
    width:450px;
    height: 200px;
    max-height: 200px;
    max-width: 450px;
    overflow: hidden;
    position: relative;
    background-color: #e6e6e6;
}

.panel-list-homepage-image-container img{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.panel-list-homepage-image-container a{
    position: unset;
}
.project-slider {
    width:750px;
    height: 340px;
    max-height: 340px;
    max-width: 750px;
    overflow: hidden;
    position: relative;
    /*background-color: #e6e6e6;*/
}
.portfolio-thumb{
    height: 228px;
    width: 342px;
}
.portfolio-thumb img{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.team-member .member-photo {
    max-height: 200px;
    max-width: 300px;
    width:300px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    border: medium none;
}
.team-member .member-photo img{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.team-member .member-socail {
    margin-top: 5px;
}
/*.navbar-brand img{
    max-height: 115px;
    height: 115px;
}*/
.navbar-header a.navbar-brand {
    padding: 0px;
}
.div_navbar_search form {
    margin-top: 0px;
    margin-bottom: 0px;
}
#city_search_form{
    margin-top: 20px;
}
#eventdate_search_form{
    margin-top: 5px;
}
#language_switcher{
    margin-top: 31px;
}


.panel-overlay-listing-label {
    bottom: 30px;
    left: 0;
    padding: 7px 10px;
}
.overlay-label {
    background-color: #ED401C;
    color: #fff;
}
.overlay-label-next {
    background-color: #00A99D !important;
    color: #fff;
}
.panel-overlay-bottom-left {
    bottom: 10%;
    left: 5px;
}
.panel-overlay-top-left, .panel-overlay-top-right, .panel-overlay-bottom-left, .panel-overlay-bottom-right {
    position: absolute;
}
.panel-overlay-listing-label .h3{
    font-size: 14px;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}

.page-container .row{
    margin-left: 0px;
    margin-right: 0px;
}

.footer-social-links{
    margin-top: 25px;
}
.footer-links{
    margin-top: 30px;
}

.media-right, .media > .pull-right {
    padding-left: 0px !important;
}

.datepicker {
    padding: 6px 12px !important;
}
.radio label, .checkbox label {
    padding-right: 20px;
}

#eventdate_new_edit, #eventdate_add_by_weekday{
    min-height: 280px
}

#eventdate_new_edit h3, #eventdate_add_by_weekday h3{
    padding: 10px;
}

#remember_me{
    margin-left: -20px !important;
}

.home_button{
    margin-right: 10px;
}
.event-image{
    position: relative;
}

i[data-bv-icon-for="front_frontbundle_address[country]"] {
    right: 30px !important;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}


#search_form .input-group-addon{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


#search_form {
    padding: 15px 0px;
}

.baseline p{
    color: #e8ddd1;
    font-style: italic;  
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
}   
.baseline { 
    text-align: center;
    min-height: 115px;
    height: 115px;
    display: table;
}

.danser-image{
    height: 100px;
}

.easy-block-v1-badge-blue{
    background-color: rgba(138,230,226, 0.85);
}
.easy-block-v1-badge-red{
    background-color: rgba(181,64,56, 0.90);
}

.label-tango {
    background-color: #5cb85c;
}
.label-zouk {
    background-color: #337ab7;
}
.label-merengue {
    background-color: #777;
}
.label-bachata {
    background-color: #5bc0de;
}
.label-salsa {
    background-color: #f0ad4e;
}
.label-kizomba {
    background-color: #d9534f;
}

.easy-block-v1 .overflow-h h3 {
    width: 100% !important;
}

.header .logo {
    height: 80px !important;
    width: 225px !important;
    display: table-cell;
    vertical-align: middle;
    background: url('../../images/wedancesalsa_logo_v2.png') no-repeat !important; 
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

@media screen and (max-width:768px)
{
    .navbar-brand:before {
        content: url('../../images/wds_logo_small.png');
    }
    .navbar-brand img{
        display: none;
    }
    .home-map
    {
        display: none;
    }
    .home-list
    {
        min-height: 0;
    }
    .filter-section-sm-hide
    {
        display: none;
    }
    .sm-hidden
    {
        display: none;
    }
    .footer-social-links
    {
        display: none;
    }
    .footer-links
    {
        display: none;
    }
    .team-member .member-photo
    {
        max-width: 100%;
    }
    .panel-list-homepage-image-container
    {
        /*        padding-left: 5px;
                padding-right: 5px;*/
        width: 100% !important;
        max-width: none !important;
    }
    #event-list .panel-body
    {
        padding: 5px;
    }
    .img-responsive
    {
        width: 100%;
    }
    .panel-list-homepage .media
    {
        padding-left: 10px;
    }
    .navbar form
    {
        border: none;
    }

    .header .logo {
        height: 80px !important;
        width: 176px !important;
        display: table-cell;
        vertical-align: middle;
        background: url('../../images/wds_logo_small.png')  center no-repeat !important; 
    }

    .header .topbar ul.loginbar {
        text-align: right;
    }


}


@media screen and (max-width:400px)
{
    .panel-list-homepage-image-container img
    {
        max-width: 300px;
    }

    .header .topbar ul.loginbar li.topbar-devider {
        top: -1px;
        padding: 0px;
        font-size: 8px;
        position: relative;
        margin: 0px 0px 0px 5px;
        font-family: Tahoma;
    }

    .header .topbar ul.languages {
        z-index: 1;
        top: 15px !important;
    }


}



/*
* Button search
*/
.btn-search {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-search:hover,
.btn-search:focus,
.btn-search.focus,
.btn-search:active,
.btn-search.active,
.open > .dropdown-toggle.btn-search {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-search:active,
.btn-search.active,
.open > .dropdown-toggle.btn-search {
    background-image: none;
}
.btn-search.disabled,
.btn-search[disabled],
fieldset[disabled] .btn-search,
.btn-search.disabled:hover,
.btn-search[disabled]:hover,
fieldset[disabled] .btn-search:hover,
.btn-search.disabled:focus,
.btn-search[disabled]:focus,
fieldset[disabled] .btn-search:focus,
.btn-search.disabled.focus,
.btn-search[disabled].focus,
fieldset[disabled] .btn-search.focus,
.btn-search.disabled:active,
.btn-search[disabled]:active,
fieldset[disabled] .btn-search:active,
.btn-search.disabled.active,
.btn-search[disabled].active,
fieldset[disabled] .btn-search.active {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-search .badge {
    color: #337ab7;
    background-color: #ffffff;
}
.btn-search {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-search:active,
.btn-search.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-search .badge {
    text-shadow: none;
}
.btn-search {
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
}
.btn-search:hover,
.btn-search:focus {
    background-color: #265a88;
    background-position: 0 -15px;
}
.btn-search:active,
.btn-search.active {
    background-color: #265a88;
    border-color: #245580;
}
.btn-search:disabled,
.btn-search[disabled] {
    background-color: #265a88;
    background-image: none;
}


.love_form, presence_form{
    margin-right: 18px;
}
.navbar-brand {
    height: 80px !important;
    width: 225px !important;
    display: table-cell;
    vertical-align: middle;
    top: 0px !important;  
}
@media screen and (min-width:978px)
{
    .navbar-brand {;
                   background: url('../../images/wedancesalsa_logo_v2.png') no-repeat !important;
    }
}
.navbar li {
    padding-top: 3px;
}
.search_transversal{
    z-index: 1000;
    position        : fixed;
    top             : 0;
    text-align: center;
    background: #FFF;
    padding: 20px 20px;
    height: 75px;
    margin:0;
    width:100%
        /*border-bottom: solid 3px #777;*/
}
.sub_search_transversal{
    height: 75px;
}
@media screen and (max-width:978px)
{
    .search_transversal{
        display:none;
    }
    .sub_search_transversal{
        display:none;
    }
    .festival_destinations{
        display:none;
    }
    .nav_sm_hidden_highlight{
        display:none !important;
    }
}

button.width-full, a.width-full{
    width: 100%;
}
.btn-u-lg {
    color: #fff;
    background: #e67e22;
}
.btn-u-lg:hover, .btn-u-lg:focus, .btn-u-lg:active, .btn-u-lg.active{
    background: #5fb611;
}
.btn-u-lg:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.border-bottom-header{
    border-bottom: solid 2px #eee;
}
a.navbar_highlight {
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
}
.easy-block-v1-badge-green{
    top: 10px !important;
    background-color: #5FB611;
}
.easy-block-v1-badge-danger{
    top: 10px !important;
    background-color: #E64C3C;
}
.easy-block-v1-badge-yellow{
    top: 10px !important;
    background-color: #F1C40F;
}
.easy-block-v1-badge-orange{
    top: 45px !important;
    background-color: #E47B1F;
}
.header-v3 .dropdown-menu li a.btn-facebook-inversed{
    color: white !important;
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
}